
<div class="navbar" id="nav1">
    <div class="col-12">
        <div class="row">
            <div class="col-lg-1">
                <div class="category">
                    <a asp-area="" asp-controller="Product" asp-action="groceriesDb">
                        <div class="category-title" >Grocery</div>
                    </a>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="category">
                    <a asp-area="" asp-controller="Product" asp-action="ProductCategoryMobile">

                        <div class="category-title">Mobiles</div>
                    </a>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="category">
                    <a asp-area="" asp-controller="Product" asp-action="fashion">

                        <div class="category-title">Fashion</div>
                    </a>
                </div>

            </div>
            <div class="col-lg-1">

                <div class="category">
                    <a asp-area="" asp-controller="Home" asp-action="Index">

                        <div class="category-title">Electronics</div>
                    </a>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="category">
                    <a asp-area="" asp-controller="Home" asp-action="Index">

                        <div class="category-title"> Home</div>
                    </a>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="category">
                    <a asp-area="" asp-controller="Product" asp-action="ProductCategory">

                        <div class="category-title">Appliances</div>
                    </a>
                </div>

            </div>
            <div class="col-lg-1">

                <div class="category">
                    <a asp-area="" asp-controller="Product" asp-action="travel">

                        <div class="category-title">Travel</div>
                    </a>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="category">
                    <a asp-area="" asp-controller="Home" asp-action="Index">

                        <div class="category-title">TopOffers</div>
                    </a>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="category">
                    <a asp-area="" asp-controller="Home" asp-action="Index">

                        <div class="category-title">Beauty,Toys</div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>

<style>
     a {
            color: #000000;
        }

    #nav1 {
        overflow: hidden;
        background-color: #F0F0F0;
        font-family: Arial, Helvetica, sans-serif;
     /*   width: 108%;
        margin-left: -4%;
        height: 50px;
        margin-top: 3%;*/
    }

    #nav1 a {
            float: left;
            font-size: 16px;
            color: #000000;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

    .category-title {
        margin-top: -5px;
        text-align: center;
        margin-left: 15%;
    }

    .col-lg-1 {
        margin-right: 2.7%;
    }
</style>